<div id="back_to_home">
  <%= link_to("<- #{t('back')}", session[:home_previous_page]) if session[:home_previous_page] %>
</div>
<div id="user_error_messages">
  <%= error_messages_list(@post) %>
</div>

<% form_for @post do |f| %>
  <p>
    <%= f.label :title, t('title') %> <br/>
    <%= f.text_field :title, :class => "story_title" %>
  </p>
  <p>
    <%= f.label :text, t('text') %> <br/>
    <%= f.text_area :text, :class => "story_text" %>    
  </p>
  <p>    
    <span id="choose_post_user">
      <%= render :partial => "post_user" %>
    </span>
  </p>
  <p>
    <%= f.label :tag_id %> 
    <%= f.select :tag_id, tags_for_select %> &nbsp;&nbsp;
    
    <%= f.label :language_code, t('post_language') %> 
    <%= f.select :language_code, post_languages_for_select %> &nbsp;&nbsp;
  
    <%= submit_tag t('post') %>    
  </p>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#post_title').focus();  
  });
</script>
